:root{
    --first-color:  #5A6275;
    --second-color: white;
    --third-color:#7C8394;
    --fourth-color:#FFA726;
    --fifth-color:#1E1E1E;
}
/* for a small screens */
@media (max-width:700px){
    .footer{
        height: 220px!important;
        padding: 20px 15px 0 15px!important;
        text-align: center!important;
        flex-direction: column!important;
    }

    .footer h1{
        font-size: 27px!important;
        margin-bottom: 70px;
        margin: 0px!important;
    }

    .footer h5{
        font-size: 16px!important;

    }
    .contact-container {
        border: none!important;
        padding: 25px 0 0 0!important;
        margin-top: 20px;
    }

    .social-footer{
        padding-top: 10px!important;
    }
    .email-container{
        margin: 0 0!important;
        padding: 0 0!important;  
    }
    .social-footer{
        margin: 15px 0!important;
        padding: 0 0!important;  

    }

    .up-button {
        margin: 0 0!important;
        padding: 0 0!important;
    }
    .up-button i{
        font-size: 27px!important;
        
    }
    .up-button i:hover{
        font-size: 28px!important;
    }
}

/* for medium screens */
@media (min-width:701px) and (max-width:915px){
    .footer{
        height: 250px!important;
        padding: 50px 15px;
    }
    
    .footer h1{
        font-size: 47px!important;
        margin-bottom: 0px!important;
        margin-left: 0px!important;
    }
    
    .footer h5{
        padding: 0 0!important;
        margin: 0 0!important;
    
    }
    
    .footer h5{
        font-size: 16px!important;

    }
    .contact-container {
        padding: 25px 0 0 0!important;
        margin-top: 20px;
    }
 
    
    .social-footer{
        padding-top: 20px;
    }
    
    
    .contact-container {
        border: 7px solid var(--fourth-color);
        padding: 90px 50px 30px 50px;
        margin-top: 150px;
    }
    
    .email-container{
        margin-bottom: 20px;
        padding-left: 30px;
    }
    .social-footer{
        padding-left: 40px!important;
        margin-bottom: 30px!important;
    
    }
    .up-button {
        margin-left: 40px!important;
    }
    .up-button i{
        font-size: 27px;
        
    }
    .up-button i:hover{
        font-size: 28px!important;
    }
}


/* for all screens */
.footer{
    height: 350px;
    padding: 50px 0 0 0;
    background-color: var(--fifth-color);
}

.footer h1{
    display: inline;
    color: var(--second-color);
    font-size: 64px;
    margin-bottom: 70px;
    margin-left: 50px;
    
}

.footer h5{
    color: var(--third-color);
    font-size: 27px;

}

.footer i{
    font-size: 27px;
    color: var(--third-color);
    margin-right: 20px;
}
.footer i:hover{
    font-size: 28px;
    color: var(--fourth-color);
}
#my-email{
    color: var(--third-color);
    text-decoration: none;
}
#my-email:hover{
    color: var(--fourth-color);
}


.social-footer{
    padding-top: 30px;
}


.contact-container {
    border: 7px solid var(--fourth-color);
    padding: 90px 50px 30px 50px;
    margin-top: 150px;
}

.email-container{
    margin-bottom: 20px;
    padding-left: 40px;
}
.social-footer{
    padding-left: 40px;
    margin-bottom: 30px;

}
.up-button {
    text-align: right;
}
.up-button i{
    font-size: 47px;
    color: var(--third-color);
    
}
.up-button i:hover{
    font-size: 48px;
    color: var(--second-color);
}